# 데이터 전처리를 실험하는 파일
@creator: 김기범

# import

In [90]:
import pandas as pd

In [91]:
train_df = pd.read_csv('../dataset/train/train.csv')
test_df = pd.read_csv('../dataset/test/test_data.csv')

train_df.shape, test_df.shape

((32470, 6), (7765, 6))

In [92]:
train_df.head()

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [93]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32470 non-null  int64
 1   sentence        32470 non-null  object
 2   subject_entity  32470 non-null  object
 3   object_entity   32470 non-null  object
 4   label           32470 non-null  object
 5   source          32470 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

## 1. Entity 분리하기

In [94]:
for column in train_df.columns:
    value = train_df.iloc[0][column]
    print(column, ':', value, type(value))

id : 0 <class 'numpy.int64'>
sentence : 〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다. <class 'str'>
subject_entity : {'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'} <class 'str'>
object_entity : {'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'} <class 'str'>
label : no_relation <class 'str'>
source : wikipedia <class 'str'>

In [95]:
eval(train_df.iloc[0]['subject_entity'])

{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}

In [96]:
for type_entity in ['subject', 'object']:
    column = f"{type_entity}_entity"

    word_list, type_list = [], []
    start_idx_list, end_idx_list = [], []
    
    for i in range(len(train_df)):
        dictionary = eval(train_df.iloc[i][column])

        word_list.append(dictionary['word'])
        start_idx_list.append(dictionary['start_idx'])
        end_idx_list.append(dictionary['end_idx'])
        type_list.append(dictionary['type'])
    
    train_df[column] = word_list
    for key in ['start_idx', 'end_idx', 'type']:
        train_df[f"{type_entity}_{key}"] = eval(f"{key}_list")

train_df.head()

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,no_relation,wikipedia,24,26,ORG,13,18,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,no_relation,wikitree,19,23,ORG,14,17,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,org:member_of,wikitree,21,24,ORG,34,41,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,org:top_members/employees,wikitree,13,17,ORG,22,24,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,no_relation,wikipedia,22,30,ORG,0,3,DAT

# 2. 중복 데이터 처리

In [97]:
train_df.shape

(32470, 12)

In [98]:
train_df.drop(train_df[train_df.duplicated(['sentence', 'subject_entity', 'object_entity', 'label'], keep='last')].index, axis=0).shape

(32424, 12)

In [99]:
train_df.drop_duplicates(['sentence', 'subject_entity', 'object_entity', 'label'], keep='first').shape

(32424, 12)

In [100]:
label_key = {
    key: 30-idx for idx, key in enumerate(train_df['label'].value_counts().index)
}

label_key

{'no_relation': 30,
 'org:top_members/employees': 29,
 'per:employee_of': 28,
 'per:title': 27,
 'org:member_of': 26,
 'org:alternate_names': 25,
 'per:origin': 24,
 'org:place_of_headquarters': 23,
 'per:date_of_birth': 22,
 'per:alternate_names': 21,
 'per:spouse': 20,
 'per:colleagues': 19,
 'per:parents': 18,
 'org:founded': 17,
 'org:members': 16,
 'per:date_of_death': 15,
 'org:product': 14,
 'per:children': 13,
 'per:place_of_residence': 12,
 'per:other_family': 11,
 'per:place_of_birth': 10,
 'org:founded_by': 9,
 'per:product': 8,
 'per:siblings': 7,
 'org:political/religious_affiliation': 6,
 'per:religion': 5,
 'per:schools_attended': 4,
 'org:dissolved': 3,
 'org:number_of_employees/members': 2,
 'per:place_of_death': 1}

In [101]:
case_2_df = train_df[train_df.duplicated(['sentence', 'subject_entity', 'object_entity'], keep=False)].drop(train_df[train_df.duplicated(['sentence', 'subject_entity', 'object_entity', 'label'], keep=False)].index, axis=0)
case_2_df['sort'] = case_2_df['label'].apply(lambda x: label_key[x])
case_2_df.sort_values(by='sort', inplace=True)
case_2_df

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type,sort
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...",배트맨,고담시,per:place_of_residence,wikitree,16,18,PER,24,26,LOC,12
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,전라남도,여수시,org:members,wikitree,3,6,ORG,26,28,LOC,16
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,정복동,김병철,per:alternate_names,wikitree,15,17,PER,3,5,PER,21
25094,25094,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,전라남도,여수시,org:place_of_headquarters,wikitree,3,6,ORG,26,28,LOC,23
3296,3296,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...",강태환,색소폰,per:title,wikitree,62,64,PER,58,60,POH,27
32107,32107,"이용빈 후보는 전)문재인 대통령후보 국민주권광주선대위 공동선대위원장, 전)20대 국...",문재인,더불어민주당,per:employee_of,wikitree,10,12,PER,134,139,ORG,28
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,대한항공,조양호,org:top_members/employees,wikipedia,0,3,ORG,9,11,PER,29
13496,13496,"2015년 11월 조현아 전 대한항공 부사장, 조원태 대한항공 부사장, 조현민 대한...",대한항공,조양호,org:top_members/employees,wikipedia,16,19,ORG,54,56,PER,29
6749,6749,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,대한항공,조양호,no_relation,wikipedia,0,3,ORG,9,11,PER,30
8364,8364,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,정복동,김병철,no_relation,wikitree,15,17,PER,3,5,PER,30
10320,10320,"이용빈 후보는 전)문재인 대통령후보 국민주권광주선대위 공동선대위원장, 전)20대 국...",문재인,더불어민주당,no_relation,wikitree,10,12,PER,52,57,ORG,30
18458,18458,"2015년 11월 조현아 전 대한항공 부사장, 조원태 대한항공 부사장, 조현민 대한...",대한항공,조양호,no_relation,wikipedia,44,47,ORG,54,56,PER,30
22258,22258,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...",배트맨,고담시,no_relation,wikitree,16,18,PER,24,26,LOC,30

In [102]:
case_2_df[case_2_df.duplicated(['sentence', 'subject_entity', 'object_entity'], keep='first')]

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type,sort
25094,25094,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,전라남도,여수시,org:place_of_headquarters,wikitree,3,6,ORG,26,28,LOC,23
6749,6749,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,대한항공,조양호,no_relation,wikipedia,0,3,ORG,9,11,PER,30
8364,8364,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,정복동,김병철,no_relation,wikitree,15,17,PER,3,5,PER,30
10320,10320,"이용빈 후보는 전)문재인 대통령후보 국민주권광주선대위 공동선대위원장, 전)20대 국...",문재인,더불어민주당,no_relation,wikitree,10,12,PER,52,57,ORG,30
18458,18458,"2015년 11월 조현아 전 대한항공 부사장, 조원태 대한항공 부사장, 조현민 대한...",대한항공,조양호,no_relation,wikipedia,44,47,ORG,54,56,PER,30
22258,22258,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...",배트맨,고담시,no_relation,wikitree,16,18,PER,24,26,LOC,30

In [103]:
case_2_df[case_2_df.duplicated(['sentence', 'subject_entity', 'object_entity'], keep='last')]

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type,sort
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...",배트맨,고담시,per:place_of_residence,wikitree,16,18,PER,24,26,LOC,12
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,전라남도,여수시,org:members,wikitree,3,6,ORG,26,28,LOC,16
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,정복동,김병철,per:alternate_names,wikitree,15,17,PER,3,5,PER,21
32107,32107,"이용빈 후보는 전)문재인 대통령후보 국민주권광주선대위 공동선대위원장, 전)20대 국...",문재인,더불어민주당,per:employee_of,wikitree,10,12,PER,134,139,ORG,28
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,대한항공,조양호,org:top_members/employees,wikipedia,0,3,ORG,9,11,PER,29
13496,13496,"2015년 11월 조현아 전 대한항공 부사장, 조원태 대한항공 부사장, 조현민 대한...",대한항공,조양호,org:top_members/employees,wikipedia,16,19,ORG,54,56,PER,29

In [104]:
case_2_df.drop_duplicates(['sentence', 'subject_entity', 'object_entity'], keep='first')

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type,sort
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...",배트맨,고담시,per:place_of_residence,wikitree,16,18,PER,24,26,LOC,12
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,전라남도,여수시,org:members,wikitree,3,6,ORG,26,28,LOC,16
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,정복동,김병철,per:alternate_names,wikitree,15,17,PER,3,5,PER,21
3296,3296,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...",강태환,색소폰,per:title,wikitree,62,64,PER,58,60,POH,27
32107,32107,"이용빈 후보는 전)문재인 대통령후보 국민주권광주선대위 공동선대위원장, 전)20대 국...",문재인,더불어민주당,per:employee_of,wikitree,10,12,PER,134,139,ORG,28
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,대한항공,조양호,org:top_members/employees,wikipedia,0,3,ORG,9,11,PER,29
13496,13496,"2015년 11월 조현아 전 대한항공 부사장, 조원태 대한항공 부사장, 조현민 대한...",대한항공,조양호,org:top_members/employees,wikipedia,16,19,ORG,54,56,PER,29

In [105]:
view_df = train_df.drop(case_2_df.index, axis=0) # case 2에 해당하는 데이터 삭제
case_2_df.drop_duplicates(['sentence', 'subject_entity', 'object_entity'], keep='first', inplace=True)
new_df = pd.concat([view_df, case_2_df[case_2_df.columns[:-1]]], axis=0)

train_df.shape, view_df.shape, new_df.shape

((32470, 12), (32457, 12), (32464, 12))

In [106]:
new_df.columns

Index(['id', 'sentence', 'subject_entity', 'object_entity', 'label', 'source',
       'subject_start_idx', 'subject_end_idx', 'subject_type',
       'object_start_idx', 'object_end_idx', 'object_type'],
      dtype='object')

# 3. 특수 태그 달기

- entity 사이에 [ENT] [/ENT] 추가
- 일본어와 한자는 정규식 이용해서 태그 추가 ([JAP], [CHN])

## 3.1 entity 사이에 [ENT] 태그 추가

In [107]:
for _, row in train_df.iterrows():
    sentence = row['sentence']
    print(sentence)
    for check, idx in enumerate(sorted([row['subject_start_idx'], row['subject_end_idx'], row['object_start_idx'], row['object_end_idx']], reverse=True)):
        if check % 2 == 0:
            sentence = sentence[:idx+1] + " [\ENT] " + sentence[idx+1:]
        else:
            sentence = sentence[:idx] + "[ENT] " + sentence[idx:]
    print(sentence)
    break
print("Done.")

〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.
〈Something〉는 [ENT] 조지 해리슨 [\ENT] 이 쓰고 [ENT] 비틀즈 [\ENT] 가 1969년 앨범 《Abbey Road》에 담은 노래다.
Done.

### 3.1.1 entity 사이에 [{S|O}:{type}] 태그 추가

In [121]:
for _, row in train_df.iterrows():
    print("="*5, "subject", "="*5)
    print(row['subject_entity'], "-", row['subject_type'])
    print("="*5, "object", "="*5)
    print(row['object_entity'], "-", row['object_type'])

    sentence = row['sentence']
    print(sentence)
    trigger = True if row['object_end_idx'] > row['subject_end_idx'] else False
    for check, idx in enumerate(sorted([row['subject_start_idx'], row['subject_end_idx'], row['object_start_idx'], row['object_end_idx']], reverse=True)):
        if trigger:
            token = f"O:{row['object_type']}"
        else:
            token = f"S:{row['subject_type']}"

        if check % 2 == 0:
            sentence = sentence[:idx+1] + f" [\{token}] " + sentence[idx+1:]
        else:
            sentence = sentence[:idx] + f"[{token}] " + sentence[idx:]
            trigger = not trigger
    print(sentence)
    break
print("Done.")

===== subject =====
비틀즈 - ORG
===== object =====
조지 해리슨 - PER
〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.
〈Something〉는 [O:PER] 조지 해리슨 [\O:PER] 이 쓰고 [S:ORG] 비틀즈 [\S:ORG] 가 1969년 앨범 《Abbey Road》에 담은 노래다.
Done.

## 3.2 [JAP], [CHN] 태그 달아주기

In [112]:
jap_idx = train_df['sentence'].str.extract('([ぁ-ゔァ-ヴー々〆〤一-龥]+)').dropna().index

jap_idx, len(jap_idx)

(Int64Index([  590,  1991,  2175,  2269,  2713,  2725,  3949,  4380,  4964,
              5520,  5529,  6706,  7040,  7602,  8848,  9717, 10419, 11054,
             11491, 12146, 12150, 12447, 12484, 12491, 13781, 14181, 14771,
             15423, 15791, 16002, 16143, 17289, 19469, 20474, 20869, 20932,
             20994, 21658, 21729, 23138, 23144, 23625, 23877, 25151, 26533,
             27327, 28449, 29072, 30003, 30499, 31075, 31439, 31491, 31531],
            dtype='int64'),
 54)

In [119]:
view_df = train_df.copy(deep=True)
view_df['sentence'].replace(r'[ぁ-ゔァ-ヴー々〆〤一-龥]+', '[OTH]', regex=True, inplace=True)

view_df.loc[jap_idx]

,id,sentence,subject_entity,object_entity,label,source,subject_start_idx,subject_end_idx,subject_type,object_start_idx,object_end_idx,object_type
590,590,일본의 진언종은 구카이([OTH]홍법 대사: 774-835)가 중국 당나라의 장안으...,구카이,진언종,per:religion,wikipedia,9,11,PER,4,6,ORG
1991,1991,"미즈하라 코요미(보통 요미([OTH])([OTH])로 불린다, 한국어 더빙판은 박재...",미즈하라 코요미,요미(よみ),per:alternate_names,wikipedia,0,7,PER,12,17,PER
2175,2175,《베요네타》([OTH])는 일본의 Platinum Games와 세가가 개발한 액션 ...,Platinum Games,베요네타,org:product,wikipedia,19,32,ORG,1,4,POH
2269,2269,시라토리 닌자부로([OTH] [OTH])는 아오야마 고쇼의 만화 《명탐정 코난》에 ...,시라토리 닌자부로,아오야마 고쇼,no_relation,wikipedia,0,8,PER,24,30,PER
2713,2713,"그렇게 에렌과 그를 열렬히 신봉하고 추종하는 예거파 병사들, 신병들의 병단의 손아귀...",헌병단,나일 도크,org:top_members/employees,wikipedia,215,217,ORG,223,227,PER
2725,2725,"""호시조라 미유키""([OTH] 한국명:김다솜)는 토에이 애니메이션 제작의 애니메이션...",미유키,みゆき,per:alternate_names,wikipedia,6,8,PER,11,13,PER
3949,3949,자회사인 주식회사 애니메이션 두([OTH])는 교토 애니메이션의 제작 부서로서 설립...,애니메이션 두,株式会社アニメーションドゥウ,org:alternate_names,wikipedia,10,16,ORG,18,31,ORG
4380,4380,배우 카라타 에리카([OTH] [OTH]·22)와의 불륜으로 모두를 충격에 빠트린 ...,히가시데 마사히로,東出昌大,per:alternate_names,wikitree,41,49,PER,51,54,PER
4964,4964,"이 조직은 일본사회당 및 그 후신인 사회민주당을 지지했지만, 민주당 결성 이후 지지...",일본사회당,사회민주당,org:alternate_names,wikipedia,6,10,ORG,20,24,ORG
5520,5520,"소설가 아쿠타가와 류노스케가 쓴 두 편의 단편 소설, 1915년작 〈라쇼몽〉([OT...",아쿠타가와 류노스케,소설가,per:title,wikipedia,4,13,PER,0,2,POH
5529,5529,지금까지 대상을 2번 수상하여 하마사키 아유미([OTH])에 이어 기타 5팀의 가수...,아유미,あゆみ,per:alternate_names,wikipedia,22,24,PER,28,30,PER
6706,6706,배우 카라타 에리카([OTH] [OTH]·22)와의 불륜으로 모두를 충격에 빠트린 ...,히가시데 마사히로,東出昌大,per:alternate_names,wikitree,41,49,PER,51,54,PER
7040,7040,"다나카 이사지([OTH], [OTH], 1906년 1월 3일 ~ 1987년 4월 1...",다나카,たなか,per:alternate_names,wikipedia,0,2,PER,15,17,PER
7602,7602,스즈키 소노코([OTH] [OTH])는 아오야마 고쇼의 만화 《명탐정 코난》에 등장...,스즈키 소노코,아오야마 고쇼,no_relation,wikipedia,0,6,PER,18,24,PER
8848,8848,미나즈키 카렌([OTH] 한국명:최가영)은 토에이 애니메이션의 제작의 애니메이션《Y...,미나즈키 카렌,프리큐어,no_relation,wikipedia,0,6,PER,48,51,POH
9717,9717,"쿠로사와 토모요 ([OTH], 1996년 4월 10일 -)는 일본의 여배우, 성우,...",쿠로사와 토모요,1996년 4월 10일,per:date_of_birth,wikipedia,0,7,PER,17,28,DAT
10419,10419,도쿠가와 이에미쓰의 정실인 다카쓰카사 다카코 휘하의 하급 시녀인 오스에([OTH])...,도쿠가와 이에미쓰,다카쓰카사 다카코,per:spouse,wikipedia,0,8,PER,15,23,PER
11054,11054,"코부치 켄타로（[OTH],[OTH] [OTH],1977년 3월 13일 - O형）은,...",코부치 켄타로,"뮤지션, 작사가, 작곡가",per:title,wikipedia,0,6,PER,61,73,POH
11491,11491,간에이([OTH]) 10년(1633년) 포르투갈 사람인 예수회 사제 크리스토방 페레...,크리스토방 페레이라,포르투갈,per:origin,wikipedia,35,44,PER,19,22,LOC
12146,12146,서울!)라는 여행 상품을 출시하기도 했다. 이 여행 상품은 히가시무라 아키코의 여성...,히가시무라 아키코,만화가,per:title,wikipedia,33,41,PER,93,95,POH
12150,12150,이후에는 레이지의 멤버인 이노우에 슌지가 설립한 레코드 회사인 『란티스』([OTH]...,란티스,이노우에 슌지,org:founded_by,wikipedia,36,38,ORG,14,20,PER
12447,12447,"""카스가노 우라라""([OTH] 한국명:""김초원"")는 토에이 애니메이션 제작의 애니메...",카스가노 우라라,프리큐어,per:employee_of,wikipedia,1,8,PER,52,55,POH
12484,12484,[OTH]。2019년 일본 시리즈에서 후쿠오카 소프트뱅크 호크스와 경기에서 4전 전...,후쿠오카 소프트뱅크 호크스,2019,no_relation,wikipedia,20,33,ORG,5,8,DAT
12491,12491,"이케다 노부코([OTH], [OTH] [OTH])은 일본의 언론인이며 NHK 소속의...",이케다,いけだ,per:alternate_names,wikipedia,0,2,PER,14,16,PER
13781,13781,"조소카베 모토치카([OTH] [OTH]), 덴분 8년(1539년) ~ 게이초 4년(...",조소카베 모토치카,덴분 8년(1539년),per:date_of_birth,wikipedia,0,8,PER,24,35,DAT
14181,14181,기타 오미 센고쿠 다이묘. 아자이 가문 4대 당주. 그의 부인은 오다 노부나가([O...,오다 노부나가,織田信長,per:alternate_names,wikipedia,36,42,PER,44,47,PER
14771,14771,"""루루 아무르""([OTH]・[OTH])는《허긋토! 프리큐어》에 등장하는 가공의 인물이다.",루루 아무르,ルールー・アムール,per:alternate_names,wikipedia,1,6,PER,9,17,PER
15423,15423,《나츠메 우인장》은 하쿠센샤의 《LaLa》와 《LaLa DX》에서 연재중인 미도리카...,미도리카와 유키,나츠메 우인장,per:product,wikipedia,42,49,PER,1,7,POH
15791,15791,"사사키 리카코([OTH], 2001년 5월 28일 ~)는 일본의 여성 아이돌 그룹 ...",사사키 리카코,佐々木莉佳子,per:alternate_names,wikipedia,0,6,PER,8,13,PER
16002,16002,"1572년 신겐은 대규모의 상락 작전을 감행하여, 도쿠가와 이에야스를 미카타가하라 ...",오다 가문,織田氏,org:alternate_names,wikipedia,65,69,ORG,71,73,ORG
16143,16143,야쿠시지 사아야([OTH])는《허긋토! 프리큐어》에 등장하는 가공의 인물이다.,야쿠시지 사아야,さあや,per:alternate_names,wikipedia,0,7,PER,9,11,PER
17289,17289,"사사키 리카코([OTH], 2001년 5월 28일 ~)는 일본의 여성 아이돌 그룹 ...",사사키 리카코,2001년 5월 28일,per:date_of_birth,wikipedia,0,6,PER,16,27,DAT
19469,19469,한국에서는 Mnet 《힛 더 스테이지》를 통해서 ‘[OTH] (Sayonara Hi...,Mnet,한국어,no_relation,wikipedia,6,9,ORG,56,58,POH
20474,20474,"아야세 하루카(1985년 3월 24일 ~)는 일본의 배우, 가수로 본명은 타데마루 ...",아야세 하루카,타데마루 아야,per:alternate_names,wikipedia,0,6,PER,41,47,PER
20869,20869,"리사(LiSA, [OTH], 1987년 6월 24일 ~)는 일본의 여성 가수이다.",LiSA,1987년 6월 24일,per:date_of_birth,wikipedia,3,6,PER,13,24,DAT
20932,20932,이후에는 레이지의 멤버인 이노우에 슌지가 설립한 레코드 회사인 『란티스』([OTH]...,이노우에 슌지,란티스,per:employee_of,wikipedia,14,20,PER,36,38,ORG
20994,20994,"미쓰이 히사시([OTH] [OTH], [OTH] [OTH])는 이노우에 다케히코의 ...",미쓰이 히사시,이노우에 다케히코,no_relation,wikipedia,0,6,PER,24,32,PER
21658,21658,카구야 마도카([OTH])는《스타☆트윙클 프리큐어》에 등장하는 가공의 인물이다.,카구야 마도카,まどか,per:alternate_names,wikipedia,0,6,PER,8,10,PER
21729,21729,최근 일본 유명 배우 히가시데 마사히로([OTH]·31)와 카라타 에리카([OTH]...,카라타 에리카,唐田えりか,per:alternate_names,wikitree,32,38,PER,40,44,PER
23138,23138,"""히노 아카네""([OTH] 한국명:홍주화)는 토에이 애니메이션 제작의 애니메이션《스...",토에이,애니메이션,no_relation,wikipedia,23,25,ORG,27,31,ORG
23144,23144,남사할린 침공 또는 사할린 전투(러시아어: Южно-Сахалинская опера...,일본 제국,일본어,no_relation,wikipedia,69,73,ORG,51,53,POH
23625,23625,나카가와 아키코 ([OTH] [OTH])는 홋카이도 삿포로시 출신의 일본 여자 성우다.,나카가와 아키코,中川亜紀子なかがわ あきこ,per:alternate_names,wikipedia,0,7,PER,10,22,PER
23877,23877,"아오키 가즈오([OTH] [OTH], [OTH] [OTH], 1889년 11월 28...",아베 노부유키,1939년 8월 30일,no_relation,wikipedia,96,102,PER,66,77,DAT
25151,25151,지난달 30일 유튜브 채널 'Fischer's-[OTH]-(이하 피셔스)'에 만화 ...,오다 에이치로,원피스,per:product,wikitree,57,63,PER,49,51,POH
26533,26533,2010년 자유민주당 그림자 내각 ([OTH]・[OTH])의 출범에 따라 정조회장 ...,이시바 시게루,자유민주당,per:employee_of,wikipedia,51,57,PER,6,10,ORG
27327,27327,쓰다 미나미 ([OTH] [OTH])또는 츠다 미나미는 가나가와현 출신의 일본 여성...,미나미,みなみ,per:alternate_names,wikipedia,25,27,PER,15,17,PER
28449,28449,《내 여동생은 한자를 읽을 수 있다》는 카지이 타카시([OTH])의 일본 라이트 노...,타카시,たかし,per:alternate_names,wikipedia,26,28,PER,33,35,PER
29072,29072,(이탈리아의 마세라티사의 승용차 '기블리'(ghibli)(ghibli)는 일본에서도...,마세라티,이탈리아,org:place_of_headquarters,wikipedia,7,10,ORG,1,4,LOC
30003,30003,"일본 제국 관동군 소속의 '마루타([OTH], (껍질만 벗긴)(껍질만 벗긴) 통나무...",731부대,관동군,org:member_of,wikipedia,66,70,ORG,6,8,ORG
30499,30499,"미모리 스즈코([OTH], 1986년 6월 28일 ~)는 일본 도쿄의 여자성우다.",미모리 스즈코,1986년 6월 28일,per:date_of_birth,wikipedia,0,6,PER,13,24,DAT
31075,31075,최근 일본 유명 배우 히가시데 마사히로([OTH]·31)와 카라타 에리카([OTH]...,히가시데 마사히로,東出昌大,per:alternate_names,wikitree,12,20,PER,22,25,PER
31439,31439,"일반적으로는 가마쿠라 시대 후에 겐코의 변([OTH]), 겐무 신정([OTH])도 ...",아시카가 다카우지,무로마치 막부,per:employee_of,wikipedia,81,89,PER,113,119,ORG
31491,31491,을미사변 당시 명성황후 살해에 적극적으로 가담했던 조선인 우범선([OTH])과 일본...,우범선,사카이 나카(酒井ナカ),per:spouse,wikipedia,32,34,PER,50,61,PER
31531,31531,히카와 이오나([OTH] 한국명:최유라)는 토에이 애니메이션 제작의 애니메이션《해피...,토에이,애니메이션 제작,no_relation,wikipedia,22,24,ORG,26,33,ORG

# 4. 스폐셜 토큰 추가

In [122]:
arr = ['[OTH]', '[ENT]', '[/ENT]']

# entity detail
for category in ['S', 'O']:
    for type in ['PER', 'NOH', 'ORG', 'LOC', 'POH', 'DUR', 'PNT', 'TIM', 'MNY', 'DAT']:
        arr.append(f"[{category}:{type}]")
        arr.append(f"[/{category}:{type}]")
    
arr, len(arr)

(['[OTH]',
  '[ENT]',
  '[/ENT]',
  '[S:PER]',
  '[/S:PER]',
  '[S:NOH]',
  '[/S:NOH]',
  '[S:ORG]',
  '[/S:ORG]',
  '[S:LOC]',
  '[/S:LOC]',
  '[S:POH]',
  '[/S:POH]',
  '[S:DUR]',
  '[/S:DUR]',
  '[S:PNT]',
  '[/S:PNT]',
  '[S:TIM]',
  '[/S:TIM]',
  '[S:MNY]',
  '[/S:MNY]',
  '[S:DAT]',
  '[/S:DAT]',
  '[O:PER]',
  '[/O:PER]',
  '[O:NOH]',
  '[/O:NOH]',
  '[O:ORG]',
  '[/O:ORG]',
  '[O:LOC]',
  '[/O:LOC]',
  '[O:POH]',
  '[/O:POH]',
  '[O:DUR]',
  '[/O:DUR]',
  '[O:PNT]',
  '[/O:PNT]',
  '[O:TIM]',
  '[/O:TIM]',
  '[O:MNY]',
  '[/O:MNY]',
  '[O:DAT]',
  '[/O:DAT]'],
 43)